@font-face {
    font-family: "PokemonGb";
    src: url(../../fonts/PokemonGb-RAeo.ttf) format('truetype');
}

.card{
    background-color: rgb(47, 47, 47);
    display: flex;
    flex-flow: column;
    padding: 20px;
    margin: 15px 40px;
    border-radius: 10px;
    width: 90%;
    text-align: center;
    font-family: 'PokemonGb', sans-serif;
}

.spr img {
    width: 250px;
}

.statGrid{
    display: flex;
    flex-flow: column;
    border: 1px solid white;
}



@media only screen and (min-width: 768px) {
    .card{
      max-width: 50%;
      margin: 40px 40px;
    }
}

@media only screen and (max-width: 594px) {
    .pokemonNameNum{
        font-size: 6vw;
    }
}