@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

h3{
    color: white
}

.statBar{
    display: inline-flex;
}

.statNameContainer{
    border: 1px solid white;
    width: 35%;
    font-size: 12px;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 2px;
}

.barContainer{
    border: 1px solid white;
    width: 50%;
}

.numberContainer{
    border: 1px solid white;
    width: 15%;
    color: white;
    font-size: 12px;
    padding-top: 3px;
    padding-bottom: 2px;
}

.bar{
    /* left: 0; */
    background-color: rgb(255, 117, 24);
    height: 100%;
}